.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 2;
  color: #fff;
  padding: 0 200px;
  box-sizing: border-box;
  /* background: #152536;  */
  background: rgba(21, 37, 54, 0.5)
}

.nav-inp img {
  margin-right: 10px;
}

.nav-link {
  cursor: pointer;
}

.right-nav {
  position: fixed;
  right: -42vw;
  top: 0;
  height: 100vh;
  width: 42vw;
  background: #152536;
  z-index: 20;
  transition: all 1.5s;
}

.close {
  position: absolute;
  top: 40px;
  right: 20%;
  cursor: pointer;
}

.nav-footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

.nav-line {
  width: 400px;
  height: 2px;
  background-image: radial-gradient(50% 100%, #FFFFFF 0%, rgba(0, 0, 0, 0.00) 100%);
}

.nav-list>li {
  width: 220px;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  margin: 15px 0;
}

.nav-list>li a {
  color: #FFFFFF;
}

.nav-list>li a:hover {
  text-decoration: underline
}

.nav-item {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.nav-item>li {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  margin: 10px 0;
}

.nav-list>li:hover .nav-itemone {
  height: 120px;
}

.nav-list>li:hover .nav-itemtwo {
  height: 220px;
}

/* 底部栏 */

.footer {
  background: #152536;
  padding: 87px 0 35px;
  color: #fff;
}

.footer-title {
  font-size: 30px;
}

.footer-name {
  font-size: 20px;
}

.footer-item>p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-footer {
  text-align: center;
  font-size: 14px;
}

.footer-btn {
  width: 170px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: #59C2FA;
  border-radius: 5px;
}

/* 首页 */

.h-title {
  font-size: 28px;
  position: relative;
}

.h-line {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 2px;
  height: 300px;
  background: #59C2FA;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url(../images/home/banner.png) no-repeat;
  background-size: cover;
  background-position: 50% 0;
  position: relative;
}

.logo {
  left: 0;
  right: 0;
  top: 140px;
  position: absolute;
  margin: 0 auto;
  max-width: 213px;
}

.welcome>div {
  width: 50%;
}

.welcome-left>p {
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.welcome-left>p img {
  margin-right: 40px;
}

.hotel>div {
  width: 45%;
}

.hotel>div.hotel-img {
  height: 500px;
  background: #F2F2F2;
  position: relative;
}

.hotel-img-item {
  position: absolute;
  right: 0;
  bottom: -50px;
}

.hotel-img-item>img {
  margin-right: 40px;
}

.hotel-item {
  width: 70%;
  margin-left: 10%;
}

.hotel-btn {
  width: 120px;
  height: 35px;
  border: 1px solid #59C2FA;
  border-radius: 50px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #59C2FA;
}

.meeting {
  width: 80%;
}

.meeting-btn {
  width: 20%;
}

.meet-btn {
  margin: 0 auto;
  background: #59C2FA;
  color: #fff;
}

.room>div:nth-child(1) {
  width: 60%;
}

.room>div:nth-child(2) {
  width: 40%;
}

.room-left img {
  width: 46.5%;
  vertical-align: bottom;
}

.room-left img:nth-child(1) {
  margin-right: 5%;
}

.room-right {
  padding: 0 30px;
  box-sizing: border-box;
}

.room-right img {
  vertical-align: bottom;
}

.vertical {
  position: relative;
}

.vertical-line {
  position: absolute;
  color: #59C2FA;
  font-size: 18px;
  right: -50%;
  bottom: 35%;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */
  -o-transform: rotate(-90deg);
  /* Opera */
  -moz-transform: rotate(-90deg);
}

.vertical-line>p {
  width: 250px;
  height: 2px;
  background: #59C2FA;
  margin-right: 20px;
}

.food>div:nth-child(1) {
  width: 45%;
}

.food>div:nth-child(2) {
  width: 55%;
}

.foot-left {
  position: relative;
}

.foot-item {
  width: 250px;
  height: 400px;
}

.foot-left>div.foot-item-active {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  height: 500px;
}

/* 会议中心 */

.meeting-exhibition>div {
  width: 45%;
}

.meering-line {
  width: 100%;
  height: 1px;
  background: #979797;
}

.facilities-item li {
  width: 16%;
  text-align: center;
  margin: 0 0 58px;
  font-size: 14px;
}

.facilities-item li>img {
  margin-bottom: 20px;
}

.meeting-before>div {
  width: 50%;
}

.meetingBefore-item>div {
  width: 50%;
}

.before {
  position: relative;
}

.before-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
}

.meeting-nav {
  background: #F2F2F2;
  padding: 100px 0 80px;
  width: 100%;
}

.meeting-nav>ul {
  width: 810px;
}

.meeting-nav li {
  width: 160px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #59C2FA;
  border-radius: 10px;
  margin: 0 20px 20px;
}

.meeting-nav li>a {
  color: #59C2FA;
}

.meeting-nav li>a {
  display: flex;
  flex: 1;
  justify-content: center;
}

.meeting-nav li:hover {
  background: #59C2FA;
}

.meeting-nav li:hover a {
  color: #fff;
}

/* 客房信息 */

.guestRoom-bg {
  background: url(../images/room/bgtwo.png) no-repeat;
  color: #fff;
}

/* 没事天地 */

.foot-line {
  width: 550px;
  height: 2px;
}

.foot-nav>span {
  display: block;
  height: 25px;
  line-height: 25px;
  margin-right: 80px;
}

.foot-nav>span.foot-active {
  border-bottom: 2px solid #59C2FA;
}

.footimg-item {
  margin-bottom: 40px;
}

.footimg-item>.foot-img {
  width: 40%;
}

.footimg-item>.foot-name {
  width: 55%;
}

.footimg-title {
  font-size: 20px;
  font-weight: bold;
}

.footText {
  width: 800px;
}

.foot-box {
  position: relative;
}

.foot-box-acitve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 40px;
  box-sizing: border-box;
}

/* 关于我们 */

.history>div {
  width: 50%;
}

.historybox {
  width: 600px;
  height: 370px;
  padding: 0;
  overflow: hidden;
}

.historybox p {
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.historybox1 {
  padding: 20px;
}

.scroll-item {
  margin-bottom: 40px;
}

.scroll-time {
  font-size: 20px;
  font-weight: bold;
}

.about-facilities {
  max-width: 800px;
  margin: 0 auto;
}

/* 楼层详情 */

.meetingdetails-title .meetingdetails-left {
  width: 550px;
}

.otherItem {
  width: 33%;
  padding: 20px 20px 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.otherItem>a {
  color: #4a4a4a;
}

.otherItem:hover {
  box-shadow: 0 0 6px 6px rgba(240, 240, 240, 0.50);
}

.otherItem-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 大厅 */

.hallText {
  width: 70%;
}

.hall-btn {
  width: 30%;
}

.roomdetails-img {
  position: relative;
}

.roomdetails-QRcode {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 0;
  right: 80px;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.QRcode {
  font-size: 20px;
  text-align: center;
}

.QRcode-QR {
  width: 150px;
  height: 150px;
  margin: 20px auto 10px;
  background: #ddd;
}

.roomdetails-QRcode>p {
  text-align: center;
  font-size: 12px;
}

.QR-iph {
  font-size: 16px;
  color: #59C2FA;
  text-align: center;
}
.foot-QRcode{
  width: 100px;
  height: 100px;
  background: #ddd;
}
.foot-QR{
  font-size: 12px;
  margin-left: 20px;
}