<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>上海国际会议中心</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<script src="../js/wow.js"></script>
	<script src="../js/my_scrollbar.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script type="text/javascript" type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eOZtxesMWUnuHMvNrKq4Ti5rG9CVlVwM"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
</head>

<body>
	<div id='app'>
		<div class="nav dis-flex jus-between items-center">
			<div class="nav-inp"><img src="../images/home/nav-iph.png" alt="">(86 21) 5037 0000<a href="../CN/index.html">中文</a>
				| <a href="index.html" class="active">EN</a></div>
			<div class="nav-link"><img src="../images/home/nav.png" alt=""></div>
		</div>
		<div class="right-nav dis-flex flex-direction jus-contenr items-center">
			<div class="close">
				<img src="../images/home/close.png" alt="">
			</div>
			<img src="../images/home/logo.png" alt="">
			<div class="he40"></div>
			<div class="nav-line"></div>
			<div class="he50"></div>
			<ul class="nav-list">
				<li><a href="index.html">HOME</a></li>
				<li><a href="meeting.html">MEETING</a>
					<ul class=" nav-item nav-itemone">
						<li><a href="meetingdetails.html?type=1">1F</a></li>
						<li><a href="meetingdetails.html?type=3">3F</a></li>
						<li><a href="meetingdetails.html?type=5">5F</a></li>
						<li><a href="meetingdetails.html?type=7">7F</a></li>
					</ul>
				</li>
				<li><a href="guestRoom.html">ROOMS</a>
					<ul class="nav-item nav-itemtwo">
						<li><a href="roomdetails.html?key=2">Superior Garden View Room</a></li>
						<li><a href="roomdetails.html?key=4"> Superior Riverview Room</a></li>
						<li><a href="roomdetails.html?key=6">Premier Riverview Room</a></li>
						<li><a href="roomdetails.html?key=8">Executive Riverview Room</a></li>
						<li><a href="roomdetails.html?key=10">Business River View Room</a></li>
						<li><a href="roomdetails.html?key=12"> Executive VIP/Business Suites</a></li>
						<li><a href="roomdetails.html?key=14">Presidential Suite</a></li>
					</ul>
				</li>
				<li><a href="foot.html">DINING</a></li>
				<li><a href="about.html">ABOUT</a></li>
			</ul>
			<div class="nav-footer">
				沪ICP备06019427号-1 沪公网安备31011502003373号
			</div>
		</div>
		<div class="banner">
			<div class="logo">
				<img src="../images/home/logo.png" alt="">
			</div>
		</div>
		<div class="he100"></div>
		<div class="history dis-flex">
			<div class="history-img wow fadeInLeft">
				<img src="../images/about/history.png" alt="">
			</div>
			<div class="history-list wow fadeInRight">
				<div class="h-title">History</div>
				<div class="he20"></div>
				<div class='historybox historybox1' id='wrapper1'>
					<div class="scroll" id="scrollOne">
						<div class="scroll-item" v-for='item in history'>
							<div class="scroll-time">{{item.years}}</div>
							<div>{{item.event}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="he100"></div>
		<div class="center">
			<div class="meeting-facilities">
				<div class="h-title wow fadeIn" style="text-align: center;" data-wow-delay="0s" data-wow-offset='150'
				 data-wow-duration='1s'>Recreational facilities</div>
				<div class="he40"></div>
				<ul class="facilities-item dis-flex jus-between flex-wrap">
					<li class="wow fadeInUp" data-wow-delay="0s" data-wow-offset='150'>
						<img src="../images/about/icon-1.png" alt="">
						<p>Sauna massage</p>
					</li>
					<li class="wow fadeInUp" data-wow-delay="0.2s" data-wow-offset='150'>
						<img src="../images/about/icon-2.png" alt="">
						<p>Fitness swimming</p>
					</li>
					<li class="wow fadeInUp" data-wow-delay="0.4s" data-wow-offset='150'>
						<img src="../images/about/icon-3.png" alt="">
						<p>Beauty salons</p>
					</li>
					<li class="wow fadeInUp" data-wow-delay="0.6s" data-wow-offset='150'>
						<img src="../images/about/icon-4.png" alt="">
						<p>Outdoor tennis</p>
					</li>
					<li class="wow fadeInUp" data-wow-delay="0.8s" data-wow-offset='150'>
						<img src="../images/about/icon-5.png" alt="">
						<p>Car rental</p>
					</li>
					<li class="wow fadeInUp" data-wow-delay="1s" data-wow-offset='150'>
						<img src="../images/about/icon-6.png" alt="">
						<p>Shopping mall purchasing</p>
					</li>
				</ul>
			</div>
			<div class="about-facilities">
				<div class="h-title wow fadeIn" style="text-align: center;" data-wow-offset='150'>Surroundings</div>
				<div class="he40"></div>
				<div class="wow fadeInUp" data-wow-offset='150'>
					The Shanghai International Convention Center stands in Lujiazui Finacial center, adjacent to The Oriental Pearl
					Radio & TV Tower., across the river from bund international buidings, with convenient transportation facilities
					and unique geographical location
				</div>
			</div>
			<div class="he40"></div>
			<div class="about-list dis-flex jus-between">
				<div class="aboutItem wow fadeInUp" data-wow-delay="0s" data-wow-offset='150'>
					<img src="../images/about/item1.png" alt="">
				</div>
				<div class="aboutItem wow fadeInUp" data-wow-delay="0.2s" data-wow-offset='150'>
					<img src="../images/about/item2.png" alt="">
				</div>
				<div class="aboutItem wow fadeInUp" data-wow-delay="0.4s" data-wow-offset='150'>
					<img src="../images/about/item3.png" alt="">
				</div>
				<div class="aboutItem wow fadeInUp" data-wow-delay="0.6s" data-wow-offset='150'>
					<img src="../images/about/item4.png" alt="">
				</div>
			</div>
			<div class="he100"></div>
		</div>
		<div id="allmap" style="width: 100%;height:500px;">

		</div>
		<div class="footer">
			<div class="center">
				<div class="footer-title">Welcome To The Shanghai International Convention
					Center</div>
				<div class="he30"></div>
				<div class="dis-flex jus-between">
					<div class="footer-item">
						<div class="footer-name">Navigation Bar</div>
						<div class="he10"></div>
						<p>HOME</p>
						<p>MEETING</p>
						<p>ROOMS</p>
						<p>DINING</p>
					</div>
					<!-- <div class="footer-item">
					<div class="footer-name">社会</div>
					<div class="he10"></div>
					<p>工作机会</p>
					<p>合作伙伴</p>
					<p>隐私条款</p>
					<p>网站地图</p>
				</div> -->
					<div class="footer-item">
						<div class="footer-name">Contact</div>
						<div class="he10"></div>
						<p>Telephone: (86 21) 5037 0000</p>
						<p>Fax: (86 21) 5037 0999</p>
						<p>Mailbox : hotel@shicc.net</p>
						<p>Address: No. 2727 Binjiang Avenue, Pudong, Shanghai, China</p>
					</div>
					<div class="footer-item">
						<div class="footer-name">Reservation</div>
						<div class="he10"></div>
						<p>For better experience, </p>
						<p>please make a reservation in advance</p>
						<p class="footer-btn" @click="clear()">Reservation</p>
					</div>
				</div>
				<div class="he40"></div>
				<p class="footer-footer">© 2018 上海国际会议中心 | 东方滨江大酒店. All Rights Reserved 沪ICP备06019427号-1 沪公网安备31011502003373号</p>
			</div>
		</div>
		<div class="form-box  jus-contenr items-center">
			<div class="fromBox">
				<div class="he80"></div>
				<div class="fromBox-title" v-if='show'>Welcome To The Shanghai International Convention
					Center！</div>
				<div class="he40"></div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">NAME：</label>
						<input type="text" v-model="list.name" placeholder="Please input your name.">
						<span>*</span>
					</div>
					<div>
						<label for="">Telephone：</label>
						<input type="text" v-model="list.phone" placeholder="Please input the telephone number.">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Mail box：</label>
						<input type="text" v-model="list.email" placeholder="Please input e-mail." @blur="upperEmli()">
						<span>{{emailERR}}</span>
					</div>
					<div>
						<label for="">Meeting time:</label>
						<input type="text" v-model="list.meetingTime" placeholder="for example：2018-01-01">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Number of meetings：</label>
						<input type="text" v-model="list.number" placeholder="Please input the meeting number.">
						<span>*</span>
					</div>
				</div>
				<div class="tex dis-flex" v-if='show'>
					<label for="">Remarks：&nbsp;</label>
					<textarea name="" id="" v-model="list.note" placeholder="Remarks"></textarea>
				</div>
				<div style="text-align: center" v-if='!show'>
					<img src="../images/base/over.png" alt="">
					<div class="he30"></div>
					<p class="col-3">预约信息已成功提交，<br>
						我们会在24小时内与您联系</p>
					<div class="he30"></div>

					<p>如有问题请拨打电话 ：<i class="col-3"> (86 21) 5037 0000</i></p>
				</div>
				<div class="he50"></div>
				<div class="box-btn dis-flex jus-end">
					<div class="box-btnOpen" @click='getData()' v-if='show'>Submission</div>
					<div class="box-btnClose" @click='getShow()'>Cancel</div>
				</div>
				<div class="box-img">
					<img src="../images/base/logo.png" alt="">
				</div>
				<div class="he20"></div>
			</div>
		</div>
	</div>
</body>
<script>
	// 数据加载
	var app = new Vue({
		el: '#app',
		data: {
			list: {
				email: "",
				meetingTime: "",
				name: "",
				note: "",
				number: "",
				phone: ""
			},
			emailERR: '*',
			show: true,
			history: []
		},
		created() {
			this.Data()
		},
		methods: {
			Data() {
				var vm = this
				$.ajax({
					type: "get", //提交方式 
					url: "http://10.1.50.137/about/getHistory?isEnglish=1",//路径
					dataType: 'json',
					contentType: "application/json;charset=utf-8",
					success: function (res) {//返回数据根据结果进行相应的处理 
						if (res.code === 0) {
							console.log(res.data)
							vm.history = res.data
						}
					}
				});
			},
			getShow() {
				this.show = true
			},
			clear() {
				this.list = {
					email: "",
					meetingTime: "",
					name: "",
					note: "",
					number: "",
					phone: ""
				}
			},
			getData() {
				var vm = this
				if (this.list.email != "" && this.list.meetingTime != '' && this.list.name != '' && this.list.number != '' && this.list.phone != '' && this.emailERR == '*') {
					console.log('123')
					$.ajax({
						type: "post", //提交方式 
						url: "http://10.1.50.137/book/toBook",//路径
						data: JSON.stringify(vm.list),
						dataType: 'json',
						contentType: "application/json;charset=utf-8",
						success: function (res) {//返回数据根据结果进行相应的处理 
							if (res.code === 0) {
								console.log(vm.data)
								vm.show = false
							}
						}
					});
				}
			},
			upperEmli() {
				var emli = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
				if (!emli.test(this.list.email)) {
					this.emailERR = '格式不正确'
				} else {
					this.emailERR = '*'
				}
			}
		}
	})
</script>
<script type="text/javascript">
	$(function () {
		new WOW().init();
		var oMyBar1 = new MyScrollBar({
			selId: 'wrapper1',
			bgColor: 'rgba(50, 50, 50, 0.2)',
			barColor: '#59C2FA',
			enterColor: '#056FD8',
			enterShow: false,
			borderRadius: 10,
		});
		$('.nav-link').click(function () {
			$('.right-nav').css('right', '0')
		})
		$('.close').click(function () {
			$('.right-nav').css('right', '-42vw')
		})
		$('.footer-btn').click(function () {
			$('.form-box').addClass('dis-flex')
		})
		$('.box-btnClose').click(function () {
			$('.form-box').removeClass('dis-flex')
		})
		$.ajax({
			url: "http://10.1.50.137/banner/getBanner?type=4&isEnglish=1",
			async: false,
			type: "get",
			dataType: "json",
			success: function (res) {
				if (res.code == 0) {
					console.log(res.data.url)
					$('.banner').css({ 'background': `url(${res.data.url}) no-repeat`, 'background-size': 'cover', 'background-position': '50% 50%' });
				}
			}
		});
	});
</script>
<script>
	var map = new BMap.Map("allmap");          // 创建地图实例  
	var point = new BMap.Point(121.503829, 31.245804);  // 创建点坐标  
	map.centerAndZoom(point, 18);                 // 初始化地图，设置中心点坐标和地图级别
	map.addControl(new BMap.NavigationControl());
	map.addControl(new BMap.ScaleControl());
	map.addControl(new BMap.OverviewMapControl());
	map.addControl(new BMap.MapTypeControl());
	map.enableKeyboard();
	// map.enableScrollWheelZoo
	map.setCurrentCity("上海");


	var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
		'<img src="../images/about/logobg.jpg" alt="" style="zoom:1;float:right;overflow:hidden;height:100px;margin-left:3px;"/>' +
		'Address：No. 2727 Binjiang Avenue, Pudong, Shanghai, China<br/>Telephone：(021)50370000<br/>' +
		'</div>';

	//创建检索信息窗口对象
	var searchInfoWindow = null;
	searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
		title: "The Shanghai International Convention Center",      //标题
		width: 290,             //宽度
		height: 200,              //高度
		panel: "panel",         //检索结果面板
		enableAutoPan: true,     //自动平移
		searchTypes: [
			BMAPLIB_TAB_SEARCH,   //周边检索
			BMAPLIB_TAB_TO_HERE,  //到这里去
			BMAPLIB_TAB_FROM_HERE //从这里出发
		]
	});
	var marker = new BMap.Marker(new BMap.Point(121.503475, 31.245151));
	map.addOverlay(marker);
	window.onload = function () {
		searchInfoWindow.open(marker);
	}
</script>

</html>