<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>上海国际会议中心</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<script src="../js/wow.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="../js/vue.min.js"></script>

</head>

<body>
	<div id="app">
		<div class="nav dis-flex jus-between items-center">
			<div class="nav-inp"><img src="../images/home/nav-iph.png" alt="">(86 21) 5037 0000<a href="../CN/index.html">中文</a> | <a href="index.html" class="active">EN</a></div>
			<div class="nav-link"><img src="../images/home/nav.png" alt=""></div>
		</div>
		<div class="right-nav dis-flex flex-direction jus-contenr items-center">
			<div class="close">
				<img src="../images/home/close.png" alt="">
			</div>
			<img src="../images/home/logo.png" alt="">
			<div class="he40"></div>
			<div class="nav-line"></div>
			<div class="he50"></div>
			<ul class="nav-list">
				<li><a href="index.html">HOME</a></li>
				<li><a href="meeting.html">MEETING</a>
					<ul class=" nav-item nav-itemone">
						<li><a href="meetingdetails.html?type=1">1F</a></li>
						<li><a href="meetingdetails.html?type=3">3F</a></li>
						<li><a href="meetingdetails.html?type=5">5F</a></li>
						<li><a href="meetingdetails.html?type=7">7F</a></li>
					</ul>
				</li>
				<li><a href="guestRoom.html">ROOMS</a>
					<ul class="nav-item nav-itemtwo">
						<li><a href="roomdetails.html?key=1">Superior Garden View Room</a></li>
						<li><a href="roomdetails.html?key=2"> Superior Riverview Room</a></li>
						<li><a href="roomdetails.html?key=3">Premier Riverview Room</a></li>
						<li><a href="roomdetails.html?key=4">Executive Riverview Room</a></li>
						<li><a href="roomdetails.html?key=5">Business River View Room</a></li>
						<li><a href="roomdetails.html?key=6"> Executive VIP/Business Suites</a></li>
						<li><a href="roomdetails.html?key=7">Presidential Suite</a></li>
					</ul>
				</li>
				<li><a href="foot.html">DINING</a></li>
				<li><a href="about.html">ABOUT</a></li>
			</ul>
			<div class="nav-footer">
				沪ICP备06019427号-1 沪公网安备31011502003373号
			</div>
		</div>
		<div class="banner">
			<div class="logo">
				<img src="../images/home/logo.png" alt="">
			</div>
		</div>
		<div class="he100"></div>
		<div class="h-title center wow fadeInUp" data-wow-offset='150'>Welcome To The Shanghai International Convention
			Center
			<div class="h-line wow fadeInDown" data-wow-delay="0.2s" data-wow-offset='150'></div>
		</div>
		<div class="he100"></div>
		<div class="welcome center dis-flex">
			<div class="welcome-left wow fadeInUp" data-wow-delay="0.4s" data-wow-offset='150'>
				<p><img src="../images/home/icon-1.png" alt="">MEETING</p>
				<p><img src="../images/home/icon-2.png" alt="">ROOMS</p>
				<p><img src="../images/home/icon-3.png" alt="">DINING</p>
			</div>
			<div class="welcome-left wow fadeInUp" data-wow-delay="0.8s" data-wow-offset='150'>
				The Shanghai International Convention Center stands in Lujiazui Finacial center, adjacent to The Oriental Pearl
				Radio & TV Tower., across the river from bund international buidings. As the landmark in Shanghai, it was
				officially opened in August, 1999.
			</div>
		</div>
		<div class="he100"></div>
		<div class="hotel dis-flex">
			<div class="hotel-img">
				<div class="hotel-img-item">
					<img src="../images/home/item1.png" alt="" class="wow fadeInLeft" data-wow-delay="0" data-wow-offset='150'>
					<img src="../images/home/item2.png" alt="" class="wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset='150'>
				</div>
			</div>
			<div class="hotel-introduce">
				<div class="hotel-item">
					<div class="he100"></div>
					<div class="h-title fadeInDown wow" data-wow-delay="0.6s" data-wow-offset='150' data-wow-duration='1s'>Hotel
						overview</div>
					<div class="he50"></div>
					<p class="fadeInDown wow" data-wow-delay="0.8s" data-wow-offset='150' data-wow-duration='1'>The Shanghai
						International Convention Center holds lage-scale international conferences and business forum, famous worldwide
						for its professionalism and comprehensiveness . The Grand Banquet Hall is biggest banquet halls in China, that
						has no supporting pillars at all. And It has additional 28 multi-function conference rooms. //All of them are
						equipped with most advanced high-tech AV system and simultaneous translation system. The better, our experienced
						conference manager will assist you in organization throughout, so that you can enjoy the success and wonderful
						experience meanwile.</p>
					<div class="he50"></div>
					<div class="hotel-btn wow fadeInDown" data-wow-delay="1s" data-wow-offset='150' data-wow-duration='1s'>More</div>
				</div>
			</div>
		</div>
		<div class="he100"></div>
		<div class="he50"></div>
		<div class="center">
			<div class="h-title wow fadeInDown" data-wow-delay="0s" data-wow-offset='150' data-wow-duration='1s'>MEETING</div>
			<div class="he20"></div>
			<div class="dis-flex">
				<div class="meeting  wow fadeInLeft" data-wow-delay="0s" data-wow-offset='150' data-wow-duration='1s'>The Shanghai International Convention Center has successfully completed the "Fortune" Global Forum, the APEC Leaders Summit and Series Meetings, the 35th Asian Development Bank Annual Meeting, the APEC Fifth Telecommunications Ministers Meeting, the UN ESCAP 60th Session, Global Poverty Alleviation Conference, World Engineers Conference, 24th World Port Conference, 22nd World Law Conference, 28th World Software Engineering Conference, Shanghai Cooperation Organization Member State Council Meeting and African Development Bank Group Council Annual Meeting, China 2010 The Welcome Dinner of the opening ceremony of the Shanghai World Expo and the welcome meeting of the 4th Summit of the Asian Conference on Interaction and Confidence in 2014, such as the Welcome Dinner and other important conferences and politicians at home and abroad, were praised by all parties.</div>
				<div class="meeting-btn">
					<div class="hotel-btn meet-btn wow bounceInRight" data-wow-delay="0.4s" data-wow-offset='150' data-wow-duration='1s'>Reservation</div>
				</div>
			</div>
		</div>
		<div class="he40"></div>
		<div class="wow fadeIn" data-wow-delay="0s" data-wow-offset='150'>
			<img src="../images/home/bgone.png" alt="">
		</div>
		<div class="he100"></div>
		<div class="h-title center wow fadeInUp" data-wow-delay="0s" data-wow-offset='150'>hanghai Oriental Riverside Hotel</div>
		<div class="he100"></div>
		<div class="center room dis-flex">
			<div class="room-left">
				<img src="../images/home/rom1.png" alt="" class="wow fadeInDown" data-wow-delay="0s" data-wow-offset='150'>
				<img src="../images/home/rom2.png" alt="" class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset='150'>
			</div>
			<div class="room-right vertical wow fadeInRight" data-wow-delay="0.8s" data-wow-offset='150'>
				<p>It is a 5-star hotel with good views of Huangpu River. There are 273 rooms and suits of various sizes, ranging from 36 to 440 square meters. Restaurants, bars, gyms and indoor and outdoor swimming pools are available. Modernism and classic, romantic and simplism are combined to create the gorgeous scenery</p>
				<div class="he50"></div>
				<div class="hotel-btn">More</div>
				<div class="he50"></div>
				<div class="he10"></div>
				<img src="../images/home/rom3.png" alt="">
				<div class="vertical-line dis-flex items-center">
					<p></p>Hotel Room
				</div>
			</div>
		</div>
		<div class="he100"></div>
		<div class="he100"></div>
		<div class="center food dis-flex">
			<div class="room-right vertical wow fadeInLeft" data-wow-delay="0.8s" data-wow-offset='150'>
				<div class="h-title">Dining</div>
				<div class="he40"></div>
				<p>The spheres architecture of the hotel have the diverse restaurants, banquet halls and bars. You can enjoy the cuisine and amazing riverview. Especially the Grand banquet hall is with seating capacity of 3000 people.</p>
				<div class="he50"></div>
				<div class="hotel-btn">More</div>
				<div class="he50"></div>
				<div class="he10"></div>
				<div class="vertical-line dis-flex items-center" style="left: -120%;top: -250%; bottom: 0;right: 0;">
					<p></p>Gastronomy
				</div>
			</div>
			<div class="foot-left dis-flex jus-between  wow fadeInRight" data-wow-delay="0.8s" data-wow-offset='150'>
				<div class="foot-item">
					<img src="../images/home/foot2.png" alt="">
				</div>
				<div class="foot-item">
					<img src="../images/home/foot3.png" alt="">
				</div>
				<div class="foot-item foot-item-active">
					<img src="../images/home/foot1.png" alt="">
				</div>
			</div>
		</div>
		<div class="bg" style="margin-top:-100px;">
			<img src="../images/home/bg.png" alt="">
		</div>
		<div class="footer">
			<div class="center">
				<div class="footer-title">Welcome To The Shanghai International Convention
					Center</div>
				<div class="he30"></div>
				<div class="dis-flex jus-between">
					<div class="footer-item">
						<div class="footer-name">Navigation Bar</div>
						<div class="he10"></div>
						<p>HOME</p>
						<p>MEETING</p>
						<p>ROOMS</p>
						<p>DINING</p>
					</div>
					<!-- <div class="footer-item">
					<div class="footer-name">社会</div>
					<div class="he10"></div>
					<p>工作机会</p>
					<p>合作伙伴</p>
					<p>隐私条款</p>
					<p>网站地图</p>
				</div> -->
					<div class="footer-item">
						<div class="footer-name">Contact</div>
						<div class="he10"></div>
						<p>Telephone: (86 21) 5037 0000</p>
						<p>Fax: (86 21) 5037 0999</p>
						<p>Mailbox : hotel@shicc.net</p>
						<p>Address: No. 2727 Binjiang Avenue, Pudong, Shanghai, China</p>
					</div>
					<div class="footer-item">
						<div class="footer-name">Reservation</div>
						<div class="he10"></div>
						<p>For better experience, </p>
						<p>please make a reservation in advance</p>
						<p class="footer-btn" @click="clear()">Reservation</p>
					</div>
				</div>
				<div class="he40"></div>
				<p class="footer-footer">© 2018 上海国际会议中心 | 东方滨江大酒店. All Rights Reserved 沪ICP备06019427号-1 沪公网安备31011502003373号</p>
			</div>
		</div>
		<div class="form-box  jus-contenr items-center">
			<div class="fromBox">
				<div class="he80"></div>
				<div class="fromBox-title" v-if='show'>Welcome To The Shanghai International Convention
					Center！</div>
				<div class="he40"></div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">NAME：</label>
						<input type="text" v-model="list.name" placeholder="Please input your name.">
						<span>*</span>
					</div>
					<div>
						<label for="">Telephone：</label>
						<input type="text" v-model="list.phone" placeholder="Please input the telephone number.">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Mail box：</label>
						<input type="text" v-model="list.email" placeholder="Please input e-mail." @blur="upperEmli()">
						<span>{{emailERR}}</span>
					</div>
					<div>
						<label for="">Meeting time:</label>
						<input type="text" v-model="list.meetingTime" placeholder="for example：2018-01-01">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Number of meetings：</label>
						<input type="text" v-model="list.number" placeholder="Please input the meeting number.">
						<span>*</span>
					</div>
				</div>
				<div class="tex dis-flex" v-if='show'>
					<label for="">Remarks：&nbsp;</label>
					<textarea name="" id="" v-model="list.note" placeholder="Remarks"></textarea>
				</div>
				<div style="text-align: center" v-if='!show'>
					<img src="../images/base/over.png" alt="">
					<div class="he30"></div>
					<p class="col-3">预约信息已成功提交，<br>
						我们会在24小时内与您联系</p>
					<div class="he30"></div>

					<p>如有问题请拨打电话 ：<i class="col-3"> (86 21) 5037 0000</i></p>
				</div>
				<div class="he50"></div>
				<div class="box-btn dis-flex jus-end">
					<div class="box-btnOpen" @click='getData()' v-if='show'>Submission</div>
					<div class="box-btnClose" @click='getShow()'>Cancel</div>
				</div>
				<div class="box-img">
					<img src="../images/base/logo.png" alt="">
				</div>
				<div class="he20"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function () {
		new WOW().init();
		$('.nav-link').click(function () {
			$('.right-nav').css('right', '0')
		})
		$('.close').click(function () {
			$('.right-nav').css('right', '-42vw')
		})
		$('.footer-btn').click(function () {
			$('.form-box').addClass('dis-flex')
		})
		$('.box-btnClose').click(function () {
			$('.form-box').removeClass('dis-flex')
		})

	});
</script>
<script>
	// 数据加载
	var app = new Vue({
		el: '#app',
		data: {
			list: {
				email: "",
				meetingTime: "",
				name: "",
				note: "",
				number: "",
				phone: ""
			},
			emailERR: '*',
			show: true
		},
		methods: {
			getShow() {
				this.show = true
			},
			clear() {
				this.list = {
					email: "",
					meetingTime: "",
					name: "",
					note: "",
					number: "",
					phone: ""
				}
			},
			getData() {
				var vm = this
				if (this.list.email != "" && this.list.meetingTime != '' && this.list.name != '' && this.list.number != '' && this.list.phone != '' && this.emailERR == '*') {
					console.log('123')
					$.ajax({
						type: "post", //提交方式 
						url: "http://47.96.165.248/book/toBook",//路径
						data: JSON.stringify(vm.list),
						dataType: 'json',
						contentType: "application/json;charset=utf-8",
						success: function (res) {//返回数据根据结果进行相应的处理 
							if (res.code === 0) {
								console.log(vm.data)
								vm.show = false
							}
						}
					});
				}
			},
			upperEmli() {
				var emli = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
				if (!emli.test(this.list.email)) {
					this.emailERR = '格式不正确'
				} else {
					this.emailERR = '*'
				}
			}
		}
	})
</script>

</html>