<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>上海国际会议中心</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<script src="../js/wow.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="../js/vue.min.js"></script>
</head>

<body>
	<div id='app'>
		<div class="nav dis-flex jus-between items-center">
			<div class="nav-inp"><img src="../images/home/nav-iph.png" alt="">(86 21) 5037 0000<a href="../CN/index.html">中文</a> | <a href="index.html" class="active">EN</a></div>
			<div class="nav-link"><img src="../images/home/nav.png" alt=""></div>
		</div>
		<div class="right-nav dis-flex flex-direction jus-contenr items-center">
			<div class="close">
				<img src="../images/home/close.png" alt="">
			</div>
			<img src="../images/home/logo.png" alt="">
			<div class="he40"></div>
			<div class="nav-line"></div>
			<div class="he50"></div>
			<ul class="nav-list">
				<li><a href="index.html">HOME</a></li>
				<li><a href="meeting.html">MEETING</a>
					<ul class=" nav-item nav-itemone">
						<li><a href="meetingdetails.html?type=1">1F</a></li>
						<li><a href="meetingdetails.html?type=3">3F</a></li>
						<li><a href="meetingdetails.html?type=5">5F</a></li>
						<li><a href="meetingdetails.html?type=7">7F</a></li>
					</ul>
				</li>
				<li><a href="guestRoom.html">ROOMS</a>
					<ul class="nav-item nav-itemtwo">
						<li><a href="roomdetails.html?key=1">Superior Garden View Room</a></li>
						<li><a href="roomdetails.html?key=2"> Superior Riverview Room</a></li>
						<li><a href="roomdetails.html?key=3">Premier Riverview Room</a></li>
						<li><a href="roomdetails.html?key=4">Executive Riverview Room</a></li>
						<li><a href="roomdetails.html?key=5">Business River View Room</a></li>
						<li><a href="roomdetails.html?key=6"> Executive VIP/Business Suites</a></li>
						<li><a href="roomdetails.html?key=7">Presidential Suite</a></li>
					</ul>
				</li>
				<li><a href="foot.html">DINING</a></li>
				<li><a href="about.html">ABOUT</a></li>
			</ul>
			<div class="nav-footer">
				沪ICP备06019427号-1 沪公网安备31011502003373号
			</div>
		</div>
		<div class="banner">
			<div class="logo">
				<img src="../images/home/logo.png" alt="">
			</div>
		</div>
		<div class="he100"></div>
		<div class="center">
			<div class="h-title wow fadeInDown" data-wow-offset='150'>MEETING</div>
			<div class="he10"></div>
			<div class="meeting-exhibition dis-flex jus-between">
				<div class="meeting-left">
					<div class="meering-line wow fadeIn" data-wow-offset='150' data-wow-delay="0.2s"></div>
					<div class="he40"></div>
					<p class="wow fadeInLeft" data-wow-offset='150' data-wow-delay="0.4s">The Shanghai International Convention Center
						holds lage-scale international conferences and business forum, famous worldwide for its professionalism and
						comprehensiveness . The Grand Banquet Hall is biggest banquet halls in China, that has no supporting pillars at
						all. And It has additional 28 multi-function conference rooms. //All of them are equipped with most advanced
						high-tech AV system and simultaneous translation system. The better, our experienced conference manager will
						assist you in organization throughout, so that you can enjoy the success and wonderful experience meanwile.
					</p>
				</div>
				<div class="meeting-right wow fadeInRight" data-wow-offset='250' data-wow-delay="0.8s">
					<img src="../images/meeting/roombg.png" alt="">
				</div>
			</div>
			<div class="he100"></div>
			<div class="meeting-facilities">
				<div class="h-title wow fadeInDown" style="text-align: center;" data-wow-offset='150'>Meeting Equipment</div>
				<div class="he40"></div>
				<ul class="facilities-item dis-flex jus-between flex-wrap">
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0">
						<img src="../images/meeting/icon-1.png" alt="">
						<p>1+10 simultaneous translation system</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
						<img src="../images/meeting/icon-2.png" alt="">
						<p>Philips DCN meeting System</p>
						<p>and chairman speech mike</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.4s">
						<img src="../images/meeting/icon-3.png" alt="">
						<p>A/V transmit live</p>
						<p>TV signal channel</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.6s">
						<img src="../images/meeting/icon-4.png" alt="">
						<p>Audio Signal synthesizing System</p>
						<p>and multimedia control system</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.8s">
						<img src="../images/meeting/icon-5.png" alt="">
						<p>CRT projector</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="1s">
						<img src="../images/meeting/icon-6.png" alt="">
						<p>Laser pen</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0s">
						<img src="../images/meeting/icon-7.png" alt="">
						<p>Projector</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
						<img src="../images/meeting/icon-8.png" alt="">
						<p>Phantom machine</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.4s">
						<img src="../images/meeting/icon-9.png" alt="">
						<p>Magic lantern</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.6s">
						<img src="../images/meeting/icon-10.png" alt="">
						<p>Converter</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.8s">
						<img src="../images/meeting/icon-11.png" alt="">
						<p>Colorful multi frequency system television</p>
					</li>
					<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="1s">
						<img src="../images/meeting/icon-12.png" alt="">
						<p>Multi frequency system projector</p>
					</li>
				</ul>
			</div>
			<div class="he100"></div>
			<div class="h-title wow fadeIn" style="text-align: center;" data-wow-offset='150'>Retrospective Meeting</div>
			<div class="he40"></div>
			<div class="meeting-before dis-flex flex-wrap">
				<div class="meetingBefore-item before wow fadeInUp" data-wow-offset='150' data-wow-delay="0s">
					<img :src="data[0].pictureUrl" alt="">
					<div class="before-box dis-flex items-center jus-contenr">
						{{data[0].title}}
					</div>
				</div>
				<div class="meetingBefore-item before wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
					<img :src="data[1].pictureUrl" alt="">
					<div class="before-box dis-flex items-center jus-contenr">
						{{data[1].title}}
					</div>
				</div>
				<div class="meetingBefore-item dis-flex wow fadeInUp" data-wow-offset='150' data-wow-delay="0s">
					<div class="before">
						<img :src="data[2].pictureUrl" alt="">
						<div class="before-box dis-flex items-center jus-contenr">
							{{data[2].title}}
						</div>
					</div>
					<div class="before">
						<img :src="data[3].pictureUrl" alt="">
						<div class="before-box dis-flex items-center jus-contenr">
							{{data[3].title}}
						</div>
					</div>
				</div>
				<div class="meetingBefore-item before wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
					<img :src="data[4].pictureUrl" alt="">
					<div class="before-box dis-flex items-center jus-contenr">
						{{data[4].title}}
					</div>
				</div>
				<div class="meetingBefore-item before wow fadeInUp" data-wow-offset='150' data-wow-delay="0s">
					<img :src="data[5].pictureUrl" alt="">
					<div class="before-box dis-flex items-center jus-contenr">
						{{data[5].title}}
					</div>
				</div>
				<div class="meetingBefore-item dis-flex wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
					<div class="before">
						<img :src="data[6].pictureUrl" alt="">
						<div class="before-box dis-flex items-center jus-contenr">
							{{data[6].title}}
						</div>
					</div>
					<div class="before">
						<img :src="data[7].pictureUrl" alt="">
						<div class="before-box dis-flex items-center jus-contenr">
							{{data[7].title}}
						</div>
					</div>
				</div>
			</div>
			<div class="he40"></div>
		</div>
		<div class="meeting-nav dis-flex jus-contenr">
			<ul class="dis-flex jus-contenr">
				<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0s">
					<a href="meetingdetails.html?type=1"> 1F</a>
				</li>
				<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.2s">
					<a href="meetingdetails.html?type=3"> 3F </a>
				</li>
				<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.4s">
					<a href="meetingdetails.html?type=5"> 5F </a>
				</li>
				<li class="wow fadeInUp" data-wow-offset='150' data-wow-delay="0.6s">
					<a href="meetingdetails.html?type=7"> 7F </a>
				</li>
			</ul>
		</div>
		<div class="footer">
			<div class="center">
				<div class="footer-title">Welcome To The Shanghai International Convention
					Center</div>
				<div class="he30"></div>
				<div class="dis-flex jus-between">
					<div class="footer-item">
						<div class="footer-name">Navigation Bar</div>
						<div class="he10"></div>
						<p>HOME</p>
						<p>MEETING</p>
						<p>ROOMS</p>
						<p>DINING</p>
					</div>
					<!-- <div class="footer-item">
					<div class="footer-name">社会</div>
					<div class="he10"></div>
					<p>工作机会</p>
					<p>合作伙伴</p>
					<p>隐私条款</p>
					<p>网站地图</p>
				</div> -->
					<div class="footer-item">
						<div class="footer-name">Contact</div>
						<div class="he10"></div>
						<p>Telephone: (86 21) 5037 0000</p>
						<p>Fax: (86 21) 5037 0999</p>
						<p>Mailbox : hotel@shicc.net</p>
						<p>Address: No. 2727 Binjiang Avenue, Pudong, Shanghai, China</p>
					</div>
					<div class="footer-item">
						<div class="footer-name">Reservation</div>
						<div class="he10"></div>
						<p>For better experience, </p>
						<p>please make a reservation in advance</p>
						<p class="footer-btn" @click="clear()">Reservation</p>
					</div>
				</div>
				<div class="he40"></div>
				<p class="footer-footer">© 2018 上海国际会议中心 | 东方滨江大酒店. All Rights Reserved 沪ICP备06019427号-1 沪公网安备31011502003373号</p>
			</div>
		</div>
		<div class="form-box  jus-contenr items-center">
			<div class="fromBox">
				<div class="he80"></div>
				<div class="fromBox-title" v-if='show'>Welcome To The Shanghai International Convention
					Center！</div>
				<div class="he40"></div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">NAME：</label>
						<input type="text" v-model="list.name" placeholder="Please input your name.">
						<span>*</span>
					</div>
					<div>
						<label for="">Telephone：</label>
						<input type="text" v-model="list.phone" placeholder="Please input the telephone number.">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Mail box：</label>
						<input type="text" v-model="list.email" placeholder="Please input e-mail." @blur="upperEmli()">
						<span>{{emailERR}}</span>
					</div>
					<div>
						<label for="">Meeting time:</label>
						<input type="text" v-model="list.meetingTime" placeholder="for example：2018-01-01">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">Number of meetings：</label>
						<input type="text" v-model="list.number" placeholder="Please input the meeting number.">
						<span>*</span>
					</div>
				</div>
				<div class="tex dis-flex" v-if='show'>
					<label for="">Remarks：&nbsp;</label>
					<textarea name="" id="" v-model="list.note" placeholder="Remarks"></textarea>
				</div>
				<div style="text-align: center" v-if='!show'>
					<img src="../images/base/over.png" alt="">
					<div class="he30"></div>
					<p class="col-3">预约信息已成功提交，<br>
						我们会在24小时内与您联系</p>
					<div class="he30"></div>

					<p>如有问题请拨打电话 ：<i class="col-3"> (86 21) 5037 0000</i></p>
				</div>
				<div class="he50"></div>
				<div class="box-btn dis-flex jus-end">
					<div class="box-btnOpen" @click='getData()' v-if='show'>Submission</div>
					<div class="box-btnClose" @click='getShow()'>Cancel</div>
				</div>
				<div class="box-img">
					<img src="../images/base/logo.png" alt="">
				</div>
				<div class="he20"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function () {
		new WOW().init();
		$('.nav-link').click(function () {
			$('.right-nav').css('right', '0')
		})
		$('.close').click(function () {
			$('.right-nav').css('right', '-42vw')
		})
		$('.footer-btn').click(function () {
			$('.form-box').addClass('dis-flex')
		})
		$('.box-btnClose').click(function () {
			$('.form-box').removeClass('dis-flex')
		})
		$.ajax({
			url: "http://47.96.165.248/banner/getBanner?type=1&isEnglish=1",
			async: false,
			type: "get",
			dataType: "json",
			success: function (res) {
				if (res.code == 0) {
					console.log(res.data.url)
					$('.banner').css({ 'background': `url(${res.data.url}) no-repeat`, 'background-size': 'cover', 'background-position': '50% 50%' });
				}
			}
		});
	});

</script>
<script>
	// 数据加载
	var app = new Vue({
		el: '#app',
		data: {
			data: [{ title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }, { title: '', pictureUrl: '' }],
			list: {
				email: "",
				meetingTime: "",
				name: "",
				note: "",
				number: "",
				phone: ""
			},
			emailERR: '*',
			show: true
		},
		created: function () {
			this.Data()
		},
		methods: {
			Data() {
				var vm = this
				$.ajax({
					type: "get", //提交方式 
					url: "http://47.96.165.248/meeting/getPastMeeting?isEnglish=1",//路径 
					success: function (res) {//返回数据根据结果进行相应的处理 
						if (res.code === 0) {
							vm.data = res.data
							console.log(vm.data)
						}
					}
				});
			},
			getShow() {
				this.show = true
			},
			clear() {
				this.list = {
					email: "",
					meetingTime: "",
					name: "",
					note: "",
					number: "",
					phone: ""
				}
			},
			getData() {
				var vm = this
				if (this.list.email != "" && this.list.meetingTime != '' && this.list.name != '' && this.list.number != '' && this.list.phone != '' && this.emailERR == '*') {
					console.log('123')
					$.ajax({
						type: "post", //提交方式 
						url: "http://47.96.165.248/book/toBook",//路径
						data: JSON.stringify(vm.list),
						dataType: 'json',
						contentType: "application/json;charset=utf-8",
						success: function (res) {//返回数据根据结果进行相应的处理 
							if (res.code === 0) {
								console.log(vm.data)
								vm.show = false
							}
						}
					});
				}
			},
			upperEmli() {
				var emli = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
				if (!emli.test(this.list.email)) {
					this.emailERR = '格式不正确'
				} else {
					this.emailERR = '*'
				}
			}
		}
	})
</script>

</html>