<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>上海国际会议中心</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<script src="../js/wow.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="../js/vue.min.js"></script>

</head>

<body>
	<div id="app">
		<div class="nav dis-flex jus-between items-center">
			<div class="nav-inp"><img src="../images/home/nav-iph.png" alt="">立即预订 (86 21) 5037 0000  <a href="index.html" class="active">中文</a> | <a href="../EN/index.html">EN</a> </div>
			<div class="nav-link"><img src="../images/home/nav.png" alt=""></div>
		</div>
		<div class="right-nav dis-flex flex-direction jus-contenr items-center">
			<div class="close">
				<img src="../images/home/close.png" alt="">
			</div>
			<img src="../images/home/logo.png" alt="">
			<div class="he40"></div>
			<div class="nav-line"></div>
			<div class="he50"></div>
			<ul class="nav-list">
				<li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
				<li><a href="meeting.html">会议会展</a>
					<ul class=" nav-item nav-itemone">
						<li><a href="meetingdetails.html?type=1">1楼会议室</a></li>
						<li><a href="meetingdetails.html?type=3">3楼会议室</a></li>
						<li><a href="meetingdetails.html?type=5">5楼会议室</a></li>
						<li><a href="meetingdetails.html?type=7">7楼会议室</a></li>
					</ul>
				</li>
				<li><a href="guestRoom.html">客房信息</a>
					<ul class="nav-item nav-itemtwo">
						<li><a href="roomdetails.html?key=1">高级园景房</a></li>
						<li><a href="roomdetails.html?key=2">高级江景房</a></li>
						<li><a href="roomdetails.html?key=3">豪华江景房</a></li>
						<li><a href="roomdetails.html?key=4">行政江景房</a></li>
						<li><a href="roomdetails.html?key=5">商务江景房</a></li>
						<li><a href="roomdetails.html?key=6">行政贵宾/商务套房</a></li>
						<li><a href="roomdetails.html?key=7">总统套房</a></li>
					</ul>
				</li>
				<li><a href="foot.html">美食天地</a></li>
				<li><a href="about.html">关于我们</a></li>
			</ul>
			<div class="nav-footer">
				沪ICP备06019427号-1 沪公网安备31011502003373号
			</div>
		</div>
		<div class="banner">
			<div class="logo">
				<img src="../images/home/logo.png" alt="">
			</div>
		</div>
		<div class="he100"></div>
		<div class="h-title center wow fadeInUp" data-wow-offset='150'>上海国际会议中心欢迎您
			<div class="h-line wow fadeInDown" data-wow-delay="0.2s" data-wow-offset='150'></div>
		</div>
		<div class="he100"></div>
		<div class="welcome center dis-flex">
			<div class="welcome-left wow fadeInUp" data-wow-delay="0.4s" data-wow-offset='150'>
				<p><img src="../images/home/icon-1.png" alt="">会议会展</p>
				<p><img src="../images/home/icon-2.png" alt="">客房信息</p>
				<p><img src="../images/home/icon-3.png" alt="">美食天地</p>
			</div>
			<div class="welcome-left wow fadeInUp" data-wow-delay="0.8s" data-wow-offset='150'>
				上海国际会议中心地处陆家嘴金融贸易中心，毗邻东方明珠电视塔，与外滩万国建筑群隔江相望，交通设施方便快捷，地理位置得天独厚，于1999年8月落成并正式对外营业。总建筑面积11万平方米，作为上海标志性新景观，被评为建国五十年十大经典建筑之一。
			</div>
		</div>
		<div class="he100"></div>
		<div class="hotel dis-flex">
			<div class="hotel-img">
				<div class="hotel-img-item">
					<img src="../images/home/item1.png" alt="" class="wow fadeInLeft" data-wow-delay="0" data-wow-offset='150'>
					<img src="../images/home/item2.png" alt="" class="wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset='150'>
				</div>
			</div>
			<div class="hotel-introduce">
				<div class="hotel-item">
					<div class="he100"></div>
					<div class="h-title fadeInDown wow" data-wow-delay="0.6s" data-wow-offset='150' data-wow-duration='1s'>酒店介绍</div>
					<div class="he50"></div>
					<p class="fadeInDown wow" data-wow-delay="0.8s" data-wow-offset='150' data-wow-duration='1'>上海国际会议中心素以举办大型国际会议、商务论坛而蜚声海内外。位于酒店7楼的上海厅可同时容纳3000人会议，是目前国内最大的无柱型多功能厅，30个大小不等、风格迥异的多功能会议厅，均备有最先进的高科技影音系统及同声传译设备，无与伦比的会议场馆与专业化的会务服务都将展示您每次跨越成功的风采。</p>
					<div class="he50"></div>
					<div class="hotel-btn wow fadeInDown" data-wow-delay="1s" data-wow-offset='150' data-wow-duration='1s'>了解更多</div>
				</div>
			</div>
		</div>
		<div class="he100"></div>
		<div class="he50"></div>
		<div class="center">
			<div class="h-title wow fadeInDown" data-wow-delay="0s" data-wow-offset='150' data-wow-duration='1s'>会议会展</div>
			<div class="he20"></div>
			<div class="dis-flex">
				<div class="meeting  wow fadeInLeft" data-wow-delay="0s" data-wow-offset='150' data-wow-duration='1s'>上海国际会议中心出色地完成了"财富"全球论坛、APEC领导人峰会及系列会议、第35届亚洲发展银行年会、APEC第五次电信部长会议、联合国亚太经社会第60届会议、全球扶贫大会、世界工程师大会、第24届世界港口大会、第22届世界法律大会、第28届世界软件工程大会、上海合作组织成员国元首理事会会议以及非洲开发银行集团理事会年会、中国2010年上海世博会开幕欢迎晚宴以及2014年亚洲相互协作与信任措施会议第四次峰会欢迎晚宴等国内外重要会议及政要接待任务，受到各方赞誉。</div>
				<div class="meeting-btn">
					<div class="hotel-btn meet-btn wow bounceInRight" data-wow-delay="0.4s" data-wow-offset='150' data-wow-duration='1s'>会议预约</div>
				</div>
			</div>
		</div>
		<div class="he40"></div>
		<div class="wow fadeIn" data-wow-delay="0s" data-wow-offset='150'>
			<img src="../images/home/bgone.png" alt="">
		</div>
		<div class="he100"></div>
		<div class="h-title center wow fadeInUp" data-wow-delay="0s" data-wow-offset='150'>客房信息</div>
		<div class="he100"></div>
		<div class="center room dis-flex">
			<div class="room-left">
				<img src="../images/home/rom1.png" alt="" class="wow fadeInDown" data-wow-delay="0s" data-wow-offset='150'>
				<img src="../images/home/rom2.png" alt="" class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset='150'>
			</div>
			<div class="room-right vertical wow fadeInRight" data-wow-delay="0.8s" data-wow-offset='150'>
				<p>内设五星级的，拥有273间现代化的高级客房及各类豪华套房，平均面积从36平方米到440平方米，或正对外滩万国博览群的迤逦风景，或朝向陆家嘴现代风姿，现代与古典，浪漫与简洁的完美融合，造就了上海最美的景致，令人陶醉。</p>
				<div class="he50"></div>
				<div class="hotel-btn">了解更多</div>
				<div class="he50"></div>
				<div class="he10"></div>
				<img src="../images/home/rom3.png" alt="">
				<div class="vertical-line dis-flex items-center">
					<p></p>Hotel Room
				</div>
			</div>
		</div>
		<div class="he100"></div>
		<div class="he100"></div>
		<div class="center food dis-flex">
			<div class="room-right vertical wow fadeInLeft" data-wow-delay="0.8s" data-wow-offset='150'>
				<div class="h-title">美食天地</div>
				<div class="he40"></div>
				<p>上海国际会议中心酒店面水临江的球体建筑内设有风格各异的餐厅，大小型宴会厅和酒吧，在您享用各式风味的中西佳肴的同时，也为您呈现一卷璀璨的滨江风景画。位于7楼的上海厅可承接3000人大型宴会及表演，恢弘场面，令人叹为观止。</p>
				<div class="he50"></div>
				<div class="hotel-btn">了解更多</div>
				<div class="he50"></div>
				<div class="he10"></div>
				<div class="vertical-line dis-flex items-center" style="left: -120%;top: -250%; bottom: 0;right: 0;">
					<p></p>Gastronomy
				</div>
			</div>
			<div class="foot-left dis-flex jus-between  wow fadeInRight" data-wow-delay="0.8s" data-wow-offset='150'>
				<div class="foot-item">
					<img src="../images/home/foot2.png" alt="">
				</div>
				<div class="foot-item">
					<img src="../images/home/foot3.png" alt="">
				</div>
				<div class="foot-item foot-item-active">
					<img src="../images/home/foot1.png" alt="">
				</div>
			</div>
		</div>
		<div class="bg" style="margin-top:-100px;">
			<img src="../images/home/bg.png" alt="">
		</div>
		<div class="footer">
			<div class="center">
				<div class="footer-title">上海国际会议中心欢迎您</div>
				<div class="he30"></div>
				<div class="dis-flex jus-between">
					<div class="footer-item">
						<div class="footer-name">导航栏</div>
						<div class="he10"></div>
						<p>首页</p>
						<p>会议会展</p>
						<p>客房信息</p>
						<p>美食天地</p>
					</div>
					<!-- <div class="footer-item">
					<div class="footer-name">社会</div>
					<div class="he10"></div>
					<p>工作机会</p>
					<p>合作伙伴</p>
					<p>隐私条款</p>
					<p>网站地图</p>
				</div> -->
					<div class="footer-item">
						<div class="footer-name">联系</div>
						<div class="he10"></div>
						<p>电话 : (86 21) 5037 0000</p>
						<p>传真: (86 21) 5037 0999</p>
						<p>邮箱 : hotel@shicc.net</p>
						<p>地址: 中国上海浦东滨江大道2727号</p>
					</div>
					<div class="footer-item">
						<div class="footer-name">会议预约</div>
						<div class="he10"></div>
						<p>为了您更好的体验，</p>
						<p>请提前预约</p>
						<p class="footer-btn" @click="clear()">立即预约</p>
					</div>
				</div>
				<div class="he40"></div>
				<p class="footer-footer">© 2018 上海国际会议中心 | 东方滨江大酒店. All Rights Reserved 沪ICP备06019427号-1 沪公网安备31011502003373号</p>
			</div>
		</div>
		<div class="form-box  jus-contenr items-center">
			<div class="fromBox">
				<div class="he80"></div>
				<div class="fromBox-title" v-if='show'>上海国际会议中心欢迎您！</div>
				<div class="he40"></div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
						<input type="text" v-model="list.name" placeholder="请输入姓名">
						<span>*</span>
					</div>
					<div>
						<label for="">联系电话：</label>
						<input type="text" v-model="list.phone" placeholder="请输入联系电话">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">电子邮箱：</label>
						<input type="text" v-model="list.email" placeholder="请输入电子邮箱" @blur="upperEmli()">
						<span>{{emailERR}}</span>
					</div>
					<div>
						<label for="">会议时间：</label>
						<input type="text" v-model="list.meetingTime" placeholder="格式如：2018-01-01">
						<span>*</span>
					</div>
				</div>
				<div class="inp dis-flex jus-between" v-if='show'>
					<div>
						<label for="">会议人数：</label>
						<input type="text" v-model="list.number" placeholder="请输入会议人数">
						<span>*</span>
					</div>
				</div>
				<div class="tex dis-flex" v-if='show'>
					<label for="">需求备注：&nbsp;</label>
					<textarea name="" id="" v-model="list.note" placeholder="需求备注"></textarea>
				</div>
				<div style="text-align: center" v-if='!show'>
					<img src="../images/base/over.png" alt="">
					<div class="he30"></div>
					<p class="col-3">预约信息已成功提交，<br>
						我们会在24小时内与您联系</p>
					<div class="he30"></div>

					<p>如有问题请拨打电话 ：<i class="col-3"> (86 21) 5037 0000</i></p>
				</div>
				<div class="he50"></div>
				<div class="box-btn dis-flex jus-end">
					<div class="box-btnOpen" @click='getData()' v-if='show'>提交表单</div>
					<div class="box-btnClose" @click='getShow()'>取消</div>
				</div>
				<div class="box-img">
					<img src="../images/base/logo.png" alt="">
				</div>
				<div class="he20"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function () {
		new WOW().init();
		$('.nav-link').click(function () {
			$('.right-nav').css('right', '0')
		})
		$('.close').click(function () {
			$('.right-nav').css('right', '-42vw')
		})
		$('.footer-btn').click(function () {
			$('.form-box').addClass('dis-flex')
		})
		$('.box-btnClose').click(function () {
			$('.form-box').removeClass('dis-flex')
		})

	});
</script>
<script>
	// 数据加载
	var app = new Vue({
		el: '#app',
		data: {
			list: {
				email: "",
				meetingTime: "",
				name: "",
				note: "",
				number: "",
				phone: ""
			},
			emailERR: '*',
			show: true
		},
		methods: {
			getShow() {
				this.show = true
			},
			clear() {
				this.list = {
					email: "",
					meetingTime: "",
					name: "",
					note: "",
					number: "",
					phone: ""
				}
			},
			getData() {
				var vm = this
				if (this.list.email != "" && this.list.meetingTime != '' && this.list.name != '' && this.list.number != '' && this.list.phone != '' && this.emailERR == '*') {
					console.log('123')
					$.ajax({
						type: "post", //提交方式 
						url: "http://10.1.50.137/book/toBook",//路径
						data: JSON.stringify(vm.list),
						dataType: 'json',
						contentType: "application/json;charset=utf-8",
						success: function (res) {//返回数据根据结果进行相应的处理 
							if (res.code === 0) {
								console.log(vm.data)
								vm.show = false
							}
						}
					});
				}
			},
			upperEmli() {
				var emli = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
				if (!emli.test(this.list.email)) {
					this.emailERR = '格式不正确'
				} else {
					this.emailERR = '*'
				}
			}
		}
	})
</script>

</html>